---
import { IBlogs } from "@types";

import BlogCard from "./BlogCard.astro";

const { blogs } = Astro.props as IBlogs;
---

<div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-16">
    {blogs.map((blog) => <BlogCard projectDetail={blog} />)}
</div>