---
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About | Jesse Graham</title>
    <MetaHead
      title={"About"}
      description={"About Me"}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <h1 style="line-height: 1.2;">About</h1>
      <p class="text-sky-600 indent-20">
        Hello, I am Jesse. I am a full time Application Developer for a small company in Tampa, Florida. I am also
        currently a student at the University of South Florida working on my bachelor’s degree in information science
        with a concentration in data science and analytics. I have a passion for coding and anything technology related.
        I was born in the Philippines and spent most of my early years in different parts of Japan but finished high school
        in Wesley Chapel, Florida.
      </p>
      <p class="text-sky-600 indent-20">
        My father served in the United States Navy which allowed me to experience many different cultures at a young age. Moving around also meant that I was always learning new ways to make friends. Luckily that was easy to do at a young age, but as I got older being a shy quiet kid did not help me out so much. I had to learn to adapt and find mutual interests with kids which also helped me find new interests. I also participated in every sport that the community or school offered in my area. This allowed me to meet and interact with many different people with different backgrounds as well as helping me be less shy and open to meeting and talking to new people.
      <p/>
      <p class="text-sky-600 indent-20">
        After spending eleven years in Japan, it was time for my father to retire from the navy and we moved to the Tampa Bay area of Florida. I finished my last semester of high school at Wesley Chapel High School. I decided to go straight into the work force and delay going to college a year while I tried to figure out what career field I wanted to do. My father who was a diesel mechanic taught me how to break things down mechanically and put them back together. I found this skill to be a great influence on how I thought about things. He also bought our family our first computer at a time when many families did not have a personal computer. At an early age I was exposed to building webpages on sites like Angelfire and Geocities. Unfortunately, at the time my school did not offer any classes on website building, so I had to teach myself basic HTML and JavaScript. While I did enjoy this, self-teaching myself code at the time was difficult and discouraging as I wanted to master the craft right away. This led me to not consider computer science as a major or coding as a career. I eventually went on to build my own gaming pc and found that aspect enjoyable.
      </p>
      <p class="text-sky-600 indent-20">
        I went into various positions in sales, starting with working with my mom who was a Fuji Cameras sales rep while in Japan, and then to a car performance shop here in Tampa. Fueled by a passion for all things with an engine instilled in me by my dad, I started as a sales associate with Cycle Gear, a national parts and apparel store. Thanks to my ability to and comfortably talk to random strangers and find things to relate to with them, I was able to have great sales numbers and rose the ranks. I became associate manager and eventually had the chance to open and manage a new store outside of Charlotte, North Carolina. Unfortunately, I took over the store right as the housing market crash spun the world into chaos. Motorcycle sales were down and so were motorcycle parts and apparel sales. After a couple years I moved onto working for AT&T in Providence, Rhode Island as a retail associate. I helped people decide on a new cell phone as well as switching over from competing service providers. This exposure to working with a new tech reinvigorated my passion for technology.
      </p>
      <p class="text-sky-600 indent-20">
        I eventually got an offer from a business client to come do sales for their company whole selling fish from Iceland. This turned out to be a good opportunity as it allowed me to work a set schedule instead of a retail schedule and take online classes at night. I tried teaching myself coding again, but with no real direction or idea of the things I wanted to create and I again found this difficult. Unfortunately, the company I was working for was struggling with supply and eventually had to let me go. I used this opportunity to go back to school full time while unemployed. My unemployment benefits also paid for a class to get my A+ certification in IT. This was what finally motivated me to finally make the jump into the technology career with the goal of eventually moving into programming.
      </p>
      <p class="text-sky-600 indent-20">
          After getting my A+ certification, I accepted a job with CompasPointz, a small privately managed service provider in Tampa. It was a small company with just the two owners. I handled all incoming help desk tickets and tried to troubleshoot all situations before having to escalate the issue to one of the owners. While at CompassPointz I learned a lot about computers and servers. I learned about Active Directory, how to work with Microsoft Exchange servers and basic networking. While at CompassPointz I got to install my first firewall, a Dell Sonicwall. While I was learning a lot, I was still limited to what equipment our clients had, I wanted to learn more so I enlisted the help of a contracting company, Robert Half, to help me find a better situation to grow.
      </p>
      <p class="text-sky-600 indent-20">
          Robert Half placed me temporarily at Hillsborough County’s sheriff’s office. This was another place I learned a lot; however, the position was another help desk position. I wanted to work with the field service team, but I eventually found that they simply installed the hardware preconfigured by us in the help desk. They did not do any actual trouble shooting onsite other than verifying the devices were connected and had power.  I eventually got placed at DataTech through Robert Half. DataTech is a larger managed service provider in the Tampa area. Here I learned a lot more as the company had several teams, field service, help desk and networking. They even have an in-house server farm. At DataTech I started as a help desk technician and gained the trust of my supervisors and impressed the manager of the field service team. They promoted me in a short time from helpdesk to field service, managing the account of one of their biggest clients, Plato Academy, a chain of charter schools in Pinellas County. The skills I gained from years of sales and constantly moving in a military family helped me defuse situations and find ways to explain the situations in terms that a less technical person would be able to understand and accept. While servicing Plato Academy I managed their network and servers. I upgraded the schools WIFI access points and fixed laptops and iPads damaged by the students.
      </p>
      <p class="text-sky-600 indent-20">
          While at DataTech one of my co-workers left after a falling out with management. He offered me the opportunity to be a field technician with the company I work for now, Form 10 Group. I had taken a Python class a year prior and in my free time was constantly trying to find ways I could do something useful with the programing language. At Form 10 Group I was again a field technician, but they only sent me out whenever another technician could not complete the work. I eventually started managing the tech and would oversee their inventory. At the time we only could manage their inventory through spread sheets which was tedious and inaccurate. I found this as an opportunity to learn Django, a web framework for python, and create an inventory tracking system. This grew into a whole new position at the company and now I oversee all application development and projects for the company and our clients. One of my most recent projects involved transferring tickets from our client’s ticketing system into our ticketing system for our techs to work. Once completed, the data is transferred back to the client.
      </p>
      <p class="text-sky-700 indent-20">
          At Form 10 Group I currently wear many hats. I still handle some IT related issues, but most of my time is spent coding. Thanks to the skills I have picked up through working in different career fields, it has helped me become a well rounded developer. I am capable of troubleshooting technical things while also being able to explain these technical issues to non technical users and stakeholders.
      </p>
        <br/>
    </Layout>
  </body>
</html>
